@use "mixins" as mixins;
@use "base" as base;
$text-color: base.$text-color;
$background-color: base.$background-color;

.container {
  display: grid;
  //make 12 columns in a row with name to each col
  grid-template-columns: repeat(12, 1fr);
  //make rows for min-content
  grid-auto-rows: min-content;
  padding: 2rem;
  min-height: 100vh;
  max-width: 140rem;
  gap: 2rem;
  margin: 0 auto;
}
.header {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
  a {
    img {
      width: 20rem;
    }
  }
}

.search {
  grid-column: 1 / -1;
  grid-row: 2;
  padding: 2rem;
  @include mixins.box;
}

.map {
  grid-column: 1 / -1;
  padding: 2rem;
  @include mixins.box;
}
.results {
  grid-column: 1 / -1;
  padding: 2rem;
  @include mixins.box;
}
.how-it-works-container {
  grid-column: 1 / -1;
  padding: 4rem;
  @include mixins.box;
}
.about-container {
  grid-column: 1 / -1;
  padding: 2rem;
  @include mixins.box;
  .story-container {
    padding: 2rem;
    .story-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 2rem;
    }
  }
}
.footer {
  grid-column: 1 / -1;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 3rem;
  .footer-link {
    font-size: 1.5rem;
    color: $text-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
    img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
    }
  }
}
